body {
  /* body 태그 안 내용들 가운데 정렬 */
  width: 1064px;
  margin: 0 auto;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/10/14/16/floral-1814372__340.jpg');
}
#header {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
}
a {
    font-weight: bold;
    color: black;
}
#header {
  line-height: 100px;
}

#aside {
  width: 200px;
  float: left;
}
#section {
  width: 860px;
  float: left;
}
#main {
  overflow: hidden;
}
#navigation {
  border: 1px solid black;
}
#navigation ul {
  list-style: none;
}
#navigation ul li {
  display: inline;
  margin: 15px;
}
#footer {
  text-align: center;
  color: black;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}
.img {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
